body{
	background-color: gray;
}
#imagem{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
    height: 400px;
    width: 800px;
}
#titulo{
	text-align: center;
	align-items: center;
	justify-content: center;
	color: orange;
}